<?xml version="1.0"?>
<launch>
	<param name="robot_description" textfile="$(find robot_description)/urdf/3drobot.xacro"/>
	<param name="use_gui" value="true"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/launch/default.rviz"/>
</launch>